<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <!-- Directory where base images are stored -->
    <add key="TestDataDirectory" value="../../TestData/" />
    <!-- Directory to save actual and difference images -->
    <add key="OutputDirectory" value="../../TestData/" />
    <!-- Whether or not to create full page screenshot images
    If set to False a screenshot is taken of what's currently visible in viewport -->
    <add key="FullPageScreenshot" value="True" />
  </appSettings>
</configuration>