<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <!-- Directory where base images are stored -->
    <add key="TestDataDirectory" value="../../TestData/" />
    <!-- Directory to save actual and difference images -->
    <add key="OutputDirectory" value="../../TestData/" />
    <!-- Filename for test report -->
    <add key="ReportFilename" value="ReportViv.html" />
    <!-- The width of the driver window -->
    <add key="DriverWidth" value="1024" />
    <!-- The height of the driver window -->
    <add key="DriverHeight" value="768" />
  </appSettings>
</configuration>