<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <!-- Directory where base images are stored -->
    <add key="TestDataDirectory" value="../../TestData/" />
    <!-- Directory to save actual and difference images -->
    <add key="OutputDirectory" value="../../TestData/" />
    <!-- Whether or not to create report -->
    <add key="ReportResults" value="True"/>
    <!-- Filename for test report -->
    <add key="ReportFilename" value="ReportViv.html" />
    <!-- Base url to test -->
    <add key="BaseUrl" value="http://computer-database.herokuapp.com/computers" />
    <!-- The width of the driver window -->
    <add key="DriverWidth" value="1024" />
    <!-- The height of the driver window -->
    <add key="DriverHeight" value="768" />
    <!-- The amount of seconds the driver should wait for the page to load -->
    <add key="PageLoadTimeout" value="5" />
  </appSettings>
</configuration>